.container__content {
  width: 100vw;
  height: 100%;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content__cover > img {
  border: 2px solid rgb(255, 255, 255);
  border-radius: 5px;
  width: 600px;
  min-width: 600px;
  height: 406px;
}

.content__title {
  margin-top: 20px;
  font-size: 14px;
  width: 580px;
}

.content__description {
  margin-top: 10px;
  width: 560px;
  height: 90px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.content__description > p {
  color: rgb(151, 151, 151);
}

.container__content > a {
  margin-top: 30px;
  color: rgb(0, 250, 146);
}
