.container__content {
  width: 100vw;
  height: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content__cover > img {
  border: 1px solid rgb(151, 151, 151);
  border-radius: 5px;
  width: 500px;
  min-width: 500px;
  height: 300px;
}

.content__title {
  margin-top: 30px;
}

.content__description {
  margin-top: 10px;
}

.content__description > p {
  color: rgb(151, 151, 151);
}

.container__content > a {
  margin-top: 50px;
  color: rgb(0, 250, 146);
}
