.container__big-card {
  margin-left: 20px;
  margin-right: 20px;
  width: 400px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.big-card__image > img {
  width: 100%;
  min-width: 400px;
}

.big-card__title {
  margin-top: 15px;
}

.big-card__title > h1 {
  font-size: 20px;
}

.big-card__description {
  margin-top: 10px;
}
.big-card__description > p > a{
  color: grey;
}

